
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: black;
}

.mierukoo {

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: img-mi 1s linear;
}

@keyframes img-mi {
    from {
        top: -30px;
    }
    to {
        top: 0px;
    }
}

section{
    position: absolute;
    width: 560px;
    left: 25%;
    animation: faq-sec 1.5s linear;
}

@keyframes faq-sec {
    from {
        bottom: 35%;
    }
    to {
        bottom: 42%;
    }
}

section details summary{
   background: linear-gradient(45deg, #ffcbdb, #a9a9a9);
   padding: 2%;
   border-bottom: 2px solid  #a9a9a9;
   bottom: 1px solid #fff;
}


section details summary:hover{
    background: white;
    
}

section details h1{   
   background-color: grey;  
   color: #fff;
   padding: 2px solid  #a9a9a9;
   font-size: 130%;
}
